
       /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */ 
         #map {
            height: 63vh;
            /* The height is 600 pixels */
            width: 100%;
            /* The width is the width of the web page */
            /*margin: 0px;*/
            margin-top: 0.8vh;
            margin-right: 0px;
            margin-bottom: 1vh;
            overflow: hidden;
        }
        
        #navBar {
            width: 100%;
            height: 6.1vh;
            margin-left: 0px;
            border: 0px;
            position: sticky;
            z-index: 1;
        }
        .container-fluid{
            padding-left : inherit;
            padding-right :inherit;
        }
        
        #bovDetails {
            width: 100%;
            height: 9vh;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 16px;
        } 
        h4{
            font-size : 0.9rem;
        }
        h6{
            font-weight : bold;
            font-size : 2.5vmin;
        }
        #BOOKbutton {
           background-color: #563D7C!important;
            height: 5.5vh;
            margin-top: 0.2vh;
            margin-left: 15vw;
            margin-right: 15vw;
        } 
        #unBook {
            height: 5.5vh;
        }

        #gotIn{
            height: 5.5vh;
        }
        .card-deck{
            margin : 1vh 0.5vw 1.5vh 0.5vw;
            height : 16vh; 
            font-size : 2.5vmin;

        }

        .card{
            background-color:#ede7f6!important;
            height : 100%;
        }

        .card-body{
            /* margin : 5px 5px 5px 5px; */
            height : 100%; 
            /* padding-bottom: 0px; */
            padding: 15px 15px 15px 15px;
        }

        .card-title{
            text-align: center;
            height : 20%;
            margin: 0vh 0.2vh 0.8vh 0.2vh;
        }
        .card-text {
            height : 23%;
            margin-bottom : 0.4vmin;
            /* margin-bottom : 0px; */
            /* font-size : 100%; */
        }
        
        p{
            display: block;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        
        /* Optional: Makes the sample page fill the window. */
        
        .row {
            margin-top: 5px;
            margin-left: 0;
            margin-right: 0;
        }

        html,
        body {
            font-size :2vh;
            height: 100%;
            margin: 0;
            padding: 0;
        }

    /*Styling the dialog box above the marker*/
    .gm-style .gm-style-iw {
        font-weight: 300;
        font-size: 2vh;
        overflow: hidden;
    }